{{#each flightRows}}
    <tr>
        <td> {{this.flightNumber}} </td>
        <td> {{this.origin}} </td>
        <td> {{this.destination}} </td>
        <td> {{this.departure}} </td>
        <td> {{this.arrival}} </td>
        <td> {{this.flightStatus}} </td>
        <td> {{this.capacity}} </td>
        <td>
            <button class="btn btn-success btn-sm" onclick="openViewModal('{{thid._id}}')" data-bs-toggle="modal"
                    data-bs-target="#view-flight"> View </button>

            <button class="btn btn-warning btn-sm" onclick="openEditModal('{{thid._id}}')" data-bs-toggle="modal"
                    data-bs-target="#edit-flight"> Edit </button>
                    
            <button class="btn btn-danger btn-sm" onclick="openDeleteModal('{{thid._id}}')" data-bs-toggle="modal"
                    data-bs-target="#delete-flight"> Delete </button>
        </td>
    </tr>
{{/each}}